[2015-10-26 21:45] stscieisenhamer opened #1 "Use wcs"

[2015-10-26 21:46] stscieisenhamer opened #2 "Move postage stamps to a row underneath main display."
- [x] Get them under
- [x] Resizable with handles
- [x] Redo zoom when resized
- [x] Show/hide the postage stamps on plugin start/stop

[2015-10-26 21:46] stscieisenhamer opened #3 "Identify each postage stamp"

[2015-10-26 23:48] pllim opened #4 "Write access to Jonathan"
@stscieisenhamer, please confirm you have the permission you need.

[2015-10-27 01:11] stscieisenhamer commented on #4
That will do it! Thanks!

[2015-10-27 01:11] #4 closed, assigned to nobody

[2015-10-27 14:58] stscieisenhamer opened #5 "Handle deleted image"

[2015-10-27 15:24] pllim commented on #2
"Workspace Configuration" at https://ginga.readthedocs.org/en/latest/manual/customizing.html might have the info you need.

[2015-10-27 15:56] pllim opened #6 "DQInspect: Handle WFPC2 file format"
Continued from related discussions in ejeschke/ginga#162. c/c @mcara

[2015-10-27 20:14] pllim commented on #6
@mcara

Ah, yes. Currently, you can still use the DQ plugin to inspect `c1m` files, but only if you set the following in your `~/.ginga/general.cfg`:

[code]

The need to do so means that you cannot simultaneously inspect, say, ACS images. I have no idea why the Archive would set a WFPC2 data quality file to have `EXTNAME=SCI` and not `EXTNAME=DQ`.

Alternately, you can manually change the `c1m` f

[2015-10-27 20:27] pllim opened #8 "Avoid error when plugin started before image loaded"
In `redo()`, add

[code]

[2015-10-28 19:48] pllim commented on #8
Fixed by #9.

[2015-10-28 19:48] #8 closed, assigned to nobody

[2015-10-28 19:51] pllim commented on #6
@mcara , I added WFPC2 support in #9. With this fix, you should not have to manually change `c1m` extension name to `DQ` anymore. And the plugin should also work when both WFPC2 and non-WFPC2 data are loaded in the same viewer.

The WFPC2 implementation is a bit hacky, given the number of assumptions that went into it. But given that WFPC2 archive is now static, this solution should not need chang

[2015-10-29 14:10] stscieisenhamer opened #10 "Write instructions"

[2015-10-29 14:12] stscieisenhamer opened #11 "Better name than MultiImage?"

[2015-10-29 14:15] pllim commented on #11
`MultiPick`? `QuickPick`? `MultiAlign`? `MatchImage`?

[2015-10-29 14:15] stscieisenhamer opened #12 "Make plugin its own: rename from pick*"
Since MultiImage is basically a clone of Pick, much of the code reads as Pick code. Rename things properly.

'Tis a silly thing, but necessary...

[2015-10-29 14:27] stscieisenhamer opened #13 "Reset postage stamp zooms on redisplay"

[2015-10-29 14:30] pllim opened #14 "Reorganize stginga"
As @eteq said he would.

[2015-10-29 14:44] stscieisenhamer opened #15 "How to deal with the image cache: key off of something..."
Currently, the image data has been used as key. But, apparently image data is cache data and can disappear. This causes duplicates to appear. Need to key off something else...and learn about the cache system.

Comments @ejeschke?

[2015-10-29 14:47] stscieisenhamer opened #16 "Bring up image in main viewer from postage stamp."

[2015-10-29 14:49] stscieisenhamer opened #17 "Use pan/zoom for postage stamp instead of creating image"

[2015-10-29 14:52] pllim commented on #15
If you set `numImages=0` either in `~/.ginga/general.cfg` or `~/.ginga/channel_Image.cfg`, it sets unlimited cache (then you have to watch your memory usage). I use this setting for QUIP.

The setting in `channel_Image.cfg` overwrites the setting in `general.cfg`, if exists. Or inherits from the latter, if not.

[2015-10-29 14:54] pllim commented on #15
The actual cache is handled by `Datasrc` class.

[2015-10-29 14:54] pllim commented on #16
`Thumbs` might offer some hints on how to accomplish this.

[2015-10-29 16:31] mcara commented on #6
I have noticed the same thing when working on skymatch. However, not all WFPC2 DQ files have extension 'SCI': some did have 'DQ' (I think). Probably something went wrong with one of the releases and it did not get noticed until too late.

[2015-10-29 16:32] pllim commented on #6
Huh. That's "fun". I'll reopen this until I can address the inconsistent EXTNAME problem.

[2015-10-29 18:55] stscieisenhamer commented on #13
Hmmm zoom_fit() works except for when a new ImageViewCanvas is created. The initial viewer always has the default zoom, which appears to be '3' so there is a border.

Thoughts @ejeschke?

[2015-10-29 19:36] ejeschke commented on #13
@stscieisenhamer, if you are creating a new `ImageViewCanvas`, simply call the method `enable_autozoom('on')` on the new viewer right after you create it.

[2015-10-29 19:49] ejeschke commented on #15
As @pllim says, the deque length for a channel can be set to unlimited by setting the `numImages` preference to 0.

In regard to naming images, though, it is possible to have total control over the name of the image if you are creating the `AstroImage` object yourself (in the typical case the reference viewer creates it for you) and specify the `name` kwarg.  Then this name will be used everywhere

[2015-10-29 20:20] stscieisenhamer commented on #15
For this plugin, I am aiming to not having need of any global environmental changes to occur. And, ideally, this should be invariant against whether cache is on/off, etc. Also, there should be no dependency on loaders either.

I'm currently examining the Thumbs\* classes to get some clues. It is looking like path is the answer.

[2015-10-29 20:22] ejeschke commented on #15
If you think the plugin might be generally useful, consider submitting a PR to the ginga home repo when you have it at a reasonable state.  It looks very interesting!

[2015-10-29 20:54] gderosa2004 opened #19 "WCS problems"
Issue reading WCS coordinates

[2015-10-29 20:56] pllim commented on #19
Moved this to ejeschke/ginga#205

[2015-10-29 20:56] #19 closed, assigned to nobody

[2015-10-29 21:13] pllim opened #20 "Move online documentation to readthedocs?"
As suggested by @eteq . It is currently hosted by SSB and needs SSB group access to update.

[2015-10-29 21:30] stscieisenhamer commented on #15
Most definitely! Once we get things good for the sprint, will be doing so.

[2015-10-29 21:30] #14 closed, assigned to eteq

[2015-10-29 21:34] eteq commented on #20
FYI, I know how to do this and its pretty trivial (it takes <~5 min to set up), but it needs to be done by someone with access privileges to the repo. So if I can be added as a maintainer or something I can just do this. (Although I'm not 100% how RTD decides what you control...)

[2015-10-29 22:17] pllim commented on #20
Ops. Didn't know you don't have the permission, sorry. Did I fix it now?

[2015-10-29 22:22] eteq commented on #20
Nope, RTD still doesn't seem to think I have the repo... I wonder if I have to be on a team or something that's associated with the `spacetelescope` organization?

[2015-10-29 22:23] eteq commented on #20
Oh, wait, I think it let me just do it manually: https://readthedocs.org/projects/stginga/

It's still building now, but I think maybe that was all that was needed?  We shall see...

[2015-10-29 23:00] eteq commented on #20
Success!  See http://stginga.readthedocs.org/en/latest/

@pllim, I had to make a few changes in master, adding requirements, and you might want to check those out.  But it's working now, so I'll go ahead and close this.

[2015-10-29 23:00] #20 closed, assigned to nobody

[2015-10-30 14:07] stscieisenhamer opened #21 "Lock WCS of main viewer"
Pending discussions with ginga core itself, provide option to lock the main viewer to a particular region, not necessarily the postage stamp region.

[2015-10-30 14:55] pllim commented on #20
Sorry for the inconvenience! If you still need me to tweak the permission/membership, let me know.

[2015-10-30 14:58] pllim commented on #20
I updated the link in README to point to this new doc. Thank you, @eteq !

[2015-10-30 15:21] #10 closed, assigned to nobody

[2015-10-30 15:23] stscieisenhamer commented on #1
PR #22

[2015-10-30 15:23] #1 closed, assigned to nobody

[2015-10-30 15:24] stscieisenhamer commented on #15
PR #22

[2015-10-30 15:24] #15 closed, assigned to nobody

[2015-10-30 15:37] eteq opened #23 "Switch to astropy affiliated package template?"
This is not particularly critical because things are currently working fine... But we might want to consider switch to the affiliated package template for `stginga` - it makes it easier to manage a variety of things like tests/doc improvements/etc.

[2015-10-30 15:38] eteq commented on #20
Not your fault @pllim - RTD seems to just have strange ways of deciding what repositories a user has access to...  I think we're all set now, though.

[2015-10-30 15:43] pllim commented on #20
:+1:

[2015-10-30 15:46] pllim commented on #23
:+1: might as well

[2015-10-30 16:33] pllim commented on #23
Just to note that Ginga also has a similar issue (ejeschke/ginga#56)

[2015-10-30 17:19] stscieisenhamer commented on #23
:+1:

[2015-10-30 17:26] pllim commented on #23
But given that today is the last day of the sprint and we need a working version for demo. Let's hold this off until after the demo.

[2015-10-30 17:39] eteq commented on #23
Oh, definitely - I marked it as "low-priority" for just that reason

[2015-10-30 17:47] pllim commented on #6
Fixed (again) in #24.

[2015-10-30 17:47] #6 closed, assigned to nobody

[2015-11-02 15:33] pllim opened #25 "Automated testing"
Ideas: http://stackoverflow.com/questions/1616228/pyqt-gui-testing

[2015-11-02 15:48] pllim opened #26 "Python 3 support"
Ensure this works in both Python 2 and 3.

[2015-11-03 14:48] stscieisenhamer commented on #13
Well, worked around the whole issue by using the configure callback.

[2015-11-03 14:49] stscieisenhamer opened #27 "Setup options"
- [x] WCS or pixel space
- [x] Region modes: Edit, Move, Delete
- [x] Instructions (again)
- [x] Administration buttons (close, etc.)

[2015-11-03 14:59] #13 closed, assigned to stscieisenhamer

[2015-11-03 15:33] #2 closed, assigned to nobody

[2015-11-04 14:15] stscieisenhamer commented on #27
For 'WCS or pixel space':
- [x] UI
- [x] abstract region
- [x] refactor set_region
- [x] refactor sky_region
- [x] ensure that both wcs and data space work
- [x] beautify UI
- [x] box drawing always gets bigger<-radius issues

[2015-11-05 17:10] #12 closed, assigned to nobody

[2015-11-05 17:10] #27 closed, assigned to nobody

[2015-11-05 19:46] stscieisenhamer opened #30 "Postage Stamp admin"
Context-dependent operations on the stamps:
- [ ] Identify (#3)
- [ ] Remove
- [ ] Make primary (#16)

[2015-11-05 20:14] stscieisenhamer opened #31 "Region info"
- [x] Find how to get to plugins
- [x] Check if MultiImage is active and hook
- [x] Provide the common region to both, with WCS.

[2015-11-06 19:26] stscieisenhamer commented on #31
DOH! The obvious path: make both plugins work together!

[2015-11-06 19:29] stscieisenhamer opened #32 "Lastest ginga mucks up postage stamps"
Everything is doubled.

[2015-11-06 19:33] pllim commented on #32
Eric refactored a bunch of stuff. You might want to see his commit changes for clues.

[2015-11-06 19:41] stscieisenhamer commented on #32
Actually its not what I was afraid of; actual functionality change. Seems more that some layout default, such as stretch, for ImageViewCanvas, has changed. Not critical.

[2015-11-06 22:07] stscieisenhamer commented on #31
Resolved by PR #33

[2015-11-06 22:07] #31 closed, assigned to nobody

[2015-11-11 15:55] pllim opened #35 "Different DQ mask colors"
@bhilbert4 can elaborate further or correct me here.
1. Mark each DQ value in different color. But where do we draw the line, as there are only so many colors you can overlay before overcrowding the display? How to handle pixels with multiple DQ flags?
2. ~~For a given DQ value, plot number of affected pixels across the ramps.~~ See #40.

[2015-11-11 16:15] bhilbert4 commented on #35
1. What is the maximum number of DQ flags that could be present? For HST I think it is 16. What if you just divide the color table up by the maximum number of possibilities and assign colors that way?  For pixels with multiple DQ values, maybe just add the RGB values of the colors for the DQ flags in question and display that pixel with the summed RGB value?
2. For a given DQ value, plot the mean

[2015-11-11 18:52] pllim commented on #35
1. Depending on the colors chosen, the composite color is quickly going to be too dark to be meaningful. Some thoughts are needed. But doable.
2. I think there is already a similar tool in Ginga that can do this... Check out `LineProfile` local plugin.

[2015-11-11 18:55] pllim commented on #35
To clarify Point 2, it sounds like what you need is to extend the functionality of `LineProfile` to enable aperture selection followed by ~~sum~~ mean, using `DQInspect` overlay to pick the location.

[2015-11-11 20:49] pllim opened #37 "Load button for BackgroundSub plugin"
Add a "Load" button to load parameters from previously saved JSON file. However, it does not make sense to load image path nor background value, which should be re-determined based on currently active image.

[2015-11-11 20:52] pllim opened #38 "Background calculation to ignore bad pixels"
Background value should be calculated only from good pixels (i.e., pixels marked as "good" in the associated DQ extension). If no good pixels found, set to zero.

To be more flexible, this should be configurable via `~/.ginga/plugin_BackgroundSub.cfg` file, with default set to `True`. Maybe something like:

[code]

[2015-11-12 15:03] stscieisenhamer commented on #21
Being addressed by ejeschke/ginga#197
Once that is complete, can see what cross-plugin integration can be done there also!

[2015-11-12 16:02] pllim opened #40 "Extend LineProfile to accept aperture"
Extend `LineProfile` local plugin (by subclassing) to also accept some kind of aperture (e.g., quadrant, circle, box, etc.). Some kind of statistics (e.g., mean) is to be performed for all pixels within the aperture for a given extension. And then the results are plotting across the ramps (i.e., time).

For the quadrant and time tags to work, JWST-specific assumptions are needed. Can probably make

[2015-11-12 16:03] pllim commented on #35
Point 2 is moved to #40.

[2015-11-13 17:59] pllim commented on #40
This should wait till existing `LineProfile` issues are resolved first (e.g., ejeschke/ginga#188).

[2015-11-13 20:52] pllim opened #42 "Change Sphinx HTML theme?"
Currently it is "alabaster". Ginga uses "sphinx_rtd_theme". What should we use?

http://sphinx-doc.org/theming.html#builtin-themes

[2015-11-13 20:57] pllim opened #43 "BackgroundSub should use modified callback"
This is in conjunction with ejeschke/ginga#223. Also see ejeschke/ginga#215.

[2015-11-17 22:12] ejeschke commented on #32
@stscieisenhamer, I'm trying `MultiImage`.  I can draw a region and it creates an image in the lower bar, but I cannot figure out how to add a new image.  Can I add new cutouts from a single image?

Edit: I'm beginning to grok this.  Switch to another image in the channel to add a new stamp.  I take it that it is not possible to add multiple stamps per same image?

[2015-11-17 22:17] stscieisenhamer commented on #32
If you drag another image into the channel, it should add automatically. Or if other images are in the channel already, just rotate to them using the arrow keys.

And no, there is only one cutout.

[2015-11-17 22:18] ejeschke commented on #32
Cool.  Is there a limit on the number of stamps?

[2015-11-17 22:21] ejeschke commented on #32
And `MIPick` just works as another way to set the region?

[2015-11-17 22:22] ejeschke commented on #32
Anyway, stamps seem to work for me.  What kind of problem are you seeing?

[2015-11-17 22:34] stscieisenhamer commented on #32
No: no limit, except for hardware

Yes: MIPick is just another way to choose the region, combining the stats of Pick while fixing on a sky region instead of a pixel region.  Sometimes this gets confused when an image has no overlapping sky. Haven't dealt with that yet.

And the problem of this issue is just a visual. At some commit which I forget, previously the stamps would center and fill the HB

[2015-11-17 23:50] ejeschke commented on #32
I see what you are saying.  You can probably fix that with the right "expand" options set on the horizontal container widget in your `build_gui()` method.  To me it doesn't look bad now.

Couple of notes, FWIW:
1) I notice now that once the row gets filled there is no way to get to the new stamps except by resizing the top level window (which is limited by screen size).  Might be good to embed the

[2015-11-17 23:59] ejeschke opened #44 "BackgroundSub does not calculate background"
When I load an image and draw an annulus, the `X` and `Y` values update, but not the `Radius` or `Annulus Width` boxes.  Also, the `Background Value` box does not seem to change (not calculated).  The log does not show any errors. The `Subtract` button remains grey throughout.

This may be user error, if I am not understanding the plugin operation correctly.  I am using stginga commit 05e0777f379f

[2015-11-18 13:44] pllim commented on #44
#### Problem: Cannot change annulus parameters interactively

At the time when I wrote this plugin (for a different project, not `stginga`), the requirement was to have complete control over the parameter values. (Also, at that time, you had not implemented the "new way" to draw/edit shapes yet, nor the `Annulus` shape.) The fastest way to give the GUI a certain value is to enter it in the respect

[2015-11-18 14:04] pllim opened #45 "Document plugins usage instructions"
There is a need to document how to use our plugins and how to customize them (if applicable).

[2015-11-18 22:47] pllim commented on #37
Resolved by #46.

[2015-11-18 22:47] #37 closed, assigned to pllim

[2015-11-18 22:49] pllim commented on #38
Q: Should we ignore _all_ bad pixels? Or provide user a way to specify which bad ones to ignore?

A: Just ignore _all_ bad pixels for now. We can open new issue if there is a need to be picky about which bad pixels to exclude.

[2015-11-19 16:58] stscieisenhamer commented on #32
Excellent suggestions! And, I see a path to success....

The desire was to have all stamps shown so that as you view the main image, you can see what that same region is in the other images. How this was to work with the multi images per channel and multiple channels was unclear. However, @ejeschke suggestion #3 gave the needed hint. A possible workflow is then:
- MultiImage becomes a global plugi

[2015-11-19 20:05] pllim commented on #32
As @ejeschke stated to me before, the same image can be loaded into different channels. How do you plan to handle duplicates?

[2015-11-20 02:02] ejeschke commented on #32
@pllim, would that be a problem? If the stamps are added manually, and are maintained on a per-image basis, then if the user decides to open two different stamps for the same image then that's a kind of user error, IMO, no matter how you navigated to the images (in one channel or two, etc.).

[2015-11-20 14:46] hcferguson commented on #32
I could see a potential benefit of having the same image in two different stamps with a different colormap. I actually used this kind of thing in ds9 blinking between images doing supernova searches. When looking at potential candidates, it was useful to have both a heavy stretch and a log stretch handy.

[2015-11-20 19:27] pllim commented on #32
Okay. Just want to make sure we covered this feature.

[2015-11-23 17:14] stscieisenhamer commented on #32
OK. Sounds like a plan. I'll be making separate issues to do the implementation, since this discussion went off-the-rails-with-respect-to-the-issue.

With-respect-to-the-issue, I'm closing. Not really a functional nor usability issue. Will revisit after functionality changes.

[2015-11-23 17:20] stscieisenhamer opened #47 "MultiImage workflow changes"
As per #32, will change the workflow as follows:
- MultiImage becomes a global plugin, and is started at any point
- To add an image, an explicit keystroke is needed.
  - Option to add automatically.
- Where the image comes from is irrelevant
- To cycle through the images, a different set of keystrokes, or overload of the arrow keys, will cycle through the JUST the images added to MultiDim, as lon

[2015-11-23 17:38] stscieisenhamer opened #48 "cannot interact with box: always panning"
In MultiImage, MIPick, or Pick, the box cannot be interacted with. The main image is always in pan mode. The one way I have found is to hit the 'd' key. This should bring up the distribution algorithm choosing, but instead allows moving and editing of the box.

It doesn't matter what mode is chosen: move, draw, or edit.

Notes
- With latest master of ginga (23Nov2015)
- OS X with trackpad

[2015-11-23 21:25] stscieisenhamer commented on #48
@ejeschke Heads up. However, I have just upgraded to OS X 10.10, and am looking to see if some default with the trackpad has changed.

[2015-11-23 21:37] stscieisenhamer commented on #48
OK, this makes absolutely no sense: So, I had run our stginga script a number of times, always with the above issue.

Then, just for kicks, I ran ginga expecting the same result. But, to much amazement, it operated normally; I was not perpetually stuck in pan mode. This is baffling because stginga is just a wrapper around ginga.

Well, then I run stginga. Lo and behold, all now works normally!?!?!

[2015-11-23 22:23] ejeschke commented on #48
@stscieisenhamer, can you try a couple of things?  1) try pressing `Command` with the cursor explicitly focused in the window (if you are using a Mac, `Control` otherwise) when it appears stuck in Pan mode?  Also 2) try the `Escape` key.  Let me know your findings.

[2015-11-23 22:27] ejeschke commented on #48
I've noticed that sometimes on Linux, if you press `Control` in the window, but then navigate _away_ from the window before releasing, Ginga does not get the event notification of `Control` key going up.  I've never seen this on  a Mac, but it may be possible.

[2015-11-24 04:15] stscieisenhamer commented on #48
@ejeschke I had tried `Escape` and other modifier/key/click combos, all to no avail.

I suspect, due to the events of stginga not working->ginga working->stginga working, that somehow there was another cached pyc issue.

If it occurs again, I'll at least be prepared to track down.

[2015-11-24 04:15] #48 closed, assigned to nobody

[2015-11-24 07:29] ejeschke commented on #32
@stscieisenhamer, @pllim

TL;DR: postage stamps fixed in latest ginga, please see `MultiImage` edits I posted to @pllim's ginga-dev box folder; all other STScI plugins I was able to test look ok, but please test and LMK

longer explanation: The latest ginga in master completes a unification of the widget-specific code (such as `GingaQt` and `GingaGtk`, etc).  Almost all platform-specific widget co

[2015-11-24 15:35] pllim commented on #32
@ejeschke , I made your edited version into a PR (see #50). @stscieisenhamer , what do you think?

[2015-11-24 17:24] pllim commented on #32
Fixed by #50. Thanks, @ejeschke !

[2015-11-24 17:24] #32 closed, assigned to nobody

[2015-11-24 17:25] pllim commented on #44
I think I answered all the questions here. Feel free to reopen if needed, @ejeschke .

[2015-11-24 17:25] #44 closed, assigned to pllim

[2015-11-24 21:16] pllim commented on #42
Done in #52

[2015-11-24 21:16] #42 closed, assigned to nobody

[2015-11-24 21:16] pllim commented on #45
Partially implemented in #52. @stscieisenhamer can fill in for `MultiImage` and `MIPick`.

[2015-11-24 22:05] pllim commented on #23
Note: http://docs.astropy.org/en/latest/development/affiliated-packages.html?packagename=stginga

[2015-11-24 22:14] pllim opened #53 "DQInspect gives IndexError when cached coords are invalid for another image"
`DQInspect` saves the current X and Y positions in `self.xcen` and `self.ycen`. Given that Ginga can concurrently display images of different sizes, the coordinates may be invalid when user switches to another (possibly smaller) image. When this happens, the following traceback will appear:

[code]

This can be recreated by opening two images with different dimensions (say, one fullframe and one s

[2015-11-25 18:26] ejeschke opened #54 ""Correct WCS" function in `Pick`"
It looks like there is a half finished "Correct WCS" function in `Pick`.  Is this something that started in `MPick`?

[2015-11-27 18:38] stscieisenhamer commented on #54
If that is in the official ginga code, no, not started by me anyways. I remember seeing that and was going to ask about it. However, for `MIPick`, the only intended change was to use the common Region object between that and MultiImage.

[2015-11-27 18:55] ejeschke commented on #54
Interesting.  I have no memory of starting that, and the approach does not look like mine. I'll dig some more, but probably I will excise this bit from `Pick`.

[2015-11-27 18:55] #54 closed, assigned to nobody

[2015-11-30 17:06] pllim opened #56 "Document usage with IPython Notebook"
Populate `docs/source/ipynb.rst` with contents of the Sprint demo after #55 is merged.

[2015-11-30 17:10] pllim opened #57 "stginga script breaks with ejeschke/ginga#230"
`stginga` script breaks with ejeschke/ginga#230. Whether a fix is really needed depends on if the Ginga PR is accepted or not.

[2015-12-01 19:47] #53 closed, assigned to pllim

[2015-12-15 17:15] pllim opened #62 "Reimplement Qt specific codes to use Ginga's general widgets"
~~Whenever it is available under Anaconda, we have to make sure it works under both Qt4 and Qt5.~~

Move away from Qt-specific codes by using Ginga's toolkit-agnostic widgets. Then, we can stop requiring `stginga` to only work with Qt toolkit.

[2015-12-15 19:35] ejeschke commented on #62
You might want to support pyside as well. IIRC I think @perrygreenfield liked their license better.  I'm not sure what state that project is in.

"Stock" ginga right now supports qt4/qt5/pyside (and gtk and (soon) web) so as long as you stick to the wrapped widgets you should be good.  That is another benefit of using the wrapped widgets: when a bug fix (or e.g. pyqt6) comes out you won't have to

[2015-12-15 19:45] pllim commented on #62
Thanks for the info, @ejeschke .

Your wrapped widgets are nice but I don't know how to use them to implement the following:

[code]

What I am trying to do above is to set an editable text box such that user cannot edit it, but still can highlight the contents for copy and paste. Also I am overriding the default grey background so the value is easy to read.

[2015-12-15 19:45] stscieisenhamer commented on #62
The pyside license is better. However, for quite a time, support had been lacking. However, recently, it has picked up again, now with Qt5 support. So, its looking like PySide is a player again.

[2015-12-15 19:47] ejeschke opened #63 "MIPick should subclass Pick"
Right now `MIPick` is a copy of `Pick` with some minor changes.  I would suggest subclassing `Pick` instead.  I noticed while testing `MIPick` the other day that it is already missing some of the enhancements and updates to `Pick`, like the radial plot curve fit.

We subclass a lot of the standard plugins here at Subaru in order to customize them for our specific observation workflow.  It works pr

[2015-12-15 19:48] pllim commented on #62
But perhaps I'll change the issue title to something else, as suggested by @ejeschke .

[2015-12-15 20:11] ejeschke commented on #62
@pllim, what kind of widget is `b.background_value`?  Is it a TextArea?  If so, you can use the `editable=False` in the constructor to prevent it from being edited.  It can then still be copied.

[2015-12-15 20:22] ejeschke commented on #62
Wrapped widgets also use PEP8 api :-)

[2015-12-15 20:26] pllim commented on #62
@ejeschke , it is a `QLineEdit` object, created from the following in the plugin:

[code]

[2015-12-15 20:34] ejeschke commented on #62
Use `set_enabled(False)`.  Or `True`, as needed.

[2015-12-15 20:37] pllim commented on #62
@ejeschke , I started with that, but it didn't give me the desired behavior. I probably will have to add a new method to your `TextEntry` class in `ginga/qtw/Widgets.py`, but then I'll break the other toolkits because I don't know how to implement, say, the GTK equivalent of what I did in Qt.

[2015-12-15 20:50] ejeschke commented on #62
@pllim, try commit 5d0fe15e30b14fbf52356a713d038e9ffa28a70a from ginga master.  It adds the `set_editable` method and an `editable` parameter to the `TextEntry` widget.

Note: ejeschke/ginga@5d0fe15e3

[2015-12-15 22:25] pllim commented on #62
@ejeschke , thanks for the quick fix! I'll let you know.

[2015-12-16 16:00] stscieisenhamer commented on #63
Agreed. It was originally meant just as a demonstration. However, it seems to actually be useful and will make it proper.

[2015-12-16 21:22] pllim commented on #62
@ejeschke , how do I enable/disable a button using the agnostic widget? I don't see any implementation of `set_enable()` or such in `ginga/qtw/Widgets.py` for `Button` object.

[2015-12-16 21:32] pllim commented on #62
@ejeschke , I also cannot find a way to do this in `TextEntry`:

[code]

Basically, I just want to force the background not to grey out when the text is not editable.

[2015-12-16 22:05] ejeschke commented on #62
`set_enabled(tf)` is defined in the base class, and will work for a Button.

[2015-12-16 22:07] ejeschke commented on #62
What happens when you use `set_editable(False)` but `set_enabled(True)`?  Is it still grey?

[2015-12-17 00:07] #45 closed, assigned to stscieisenhamer

[2015-12-17 14:46] pllim commented on #56
c/c @sosey , since I think she mentioned she already has some examples?

[2015-12-17 15:19] sosey commented on #56
examples of writing docs in notebook? I've written tutorials, what exactly do you mean?

[2015-12-17 15:21] pllim commented on #56
Something about using Ginga in the notebook environment.

[2015-12-17 19:49] stscieisenhamer commented on #56
I believe this was to document what @eteq had done, whom he said was going to look at it before end-of-week.

[2015-12-17 22:30] pllim commented on #62
Yeah, that works. Thanks!

[2015-12-17 22:38] pllim commented on #56
No rush. I got a big PR coming (#61).

[2015-12-18 21:23] pllim commented on #62
I think only my plugins are affected by this. I have made the changes in #61.

[2015-12-18 21:25] pllim commented on #62
So far, I found everything I need in the general Ginga widgets, except for ejeschke/ginga#256.

[2015-12-18 21:38] pllim opened #67 "Implement bad pixel correction plugin"
Move `BadPixCorr` plugin from QUIP to `stginga`. Basically, user select an area of interest to fix and fix it.

[2015-12-18 21:42] pllim opened #68 "Implement SNR calculation plugin"
Move `SurfBgRatio` plugin from QUIP to `stginga`. Probably will also rename it to something more sensible like `SNRCalc`. Basically it calculates simple signal-to-noise ratio (SCI / ERR) and surface-background ratio (as defined by Ball), with the option to write the results to image header as keyword-value pairs.

[2015-12-18 21:45] pllim opened #69 "Integrate with imexam?"
`imexam` (https://github.com/spacetelescope/imexam/) can use Ginga viewer. Does it make sense for `stginga` to somehow also enable users to access `imexam`?

Was spacetelescope/imexam#41.

[2015-12-22 16:18] #56 closed, assigned to eteq

[2015-12-28 20:11] #35 closed, assigned to pllim

[2015-12-28 20:11] #38 closed, assigned to pllim

[2015-12-28 20:11] #43 closed, assigned to pllim

[2015-12-28 20:13] pllim commented on #35
@bhilbert4 , I added basic multicolor masks feature. Feel free to open a new issue if you have ideas on how to improve it.

[2015-12-28 20:15] pllim commented on #62
Fixed in #61

[2015-12-28 20:15] #62 closed, assigned to pllim

[2015-12-29 19:47] pllim opened #71 "RTD build failed"
@eteq , RTD build has been failing since the past week. The latest log (https://readthedocs.org/projects/stginga/builds/3596379/) suggests it might have something to do with your IPython notebook documentation. Could you please look into this? Thank you!

[2015-12-29 20:56] #68 closed, assigned to pllim

[2015-12-29 21:06] pllim opened #73 "Fix and improve SNR plugin"
This is a follow-up of #72.
- [x] Turn minimum SBR limit into user preference (currently hardcoded at zero, which is pretty useless). Enable updating and logging it within `redo()`. Some thoughts need to go into this, as the limits can be quite operation/instrument specific.
- [x] Add option to only calculate using good pixels, both as user perference and GUI checkbox (like #38).
- [x] Add buttons

[2016-01-19 17:08] pllim opened #74 "ChangeHistory plugin to auto resize columns"
Like ejeschke/ginga#268 but for `ChangeHistory`. For this case, only resize first column, as it is impractical to fit all description (second column) into view. And perhaps, only resize it once to a constant width at GUI initialization, since timestamp length will be always the same.

Also see ejeschke/ginga#263 for related discussions.

[2016-01-21 20:33] pllim opened #75 "Use ChangeHistory in Ginga and remove local copy"
This is only relevant if ejeschke/ginga#270 is accepted and merged.

This effectively moves the `ChangeHistory` plugin to Ginga core distribution. Hence, we should delete the version currently in `stginga` and use the one from Ginga instead. Our setup codes also need to be updated as well.

[2016-01-21 22:43] #73 closed, assigned to pllim

[2016-01-21 22:43] #74 closed, assigned to pllim

[2016-01-21 22:46] pllim commented on #73
There is no good way to include SBR limits used by WSS as a general setting. I will just have to subclass `SBRCalc` and overwrite `set_minsbr()` method for WSS.

[2016-01-21 22:47] pllim commented on #71
Need to check https://readthedocs.org/projects/stginga/builds/3659768/ before closing.

[2016-01-22 01:11] pllim commented on #71
Fixed!

[2016-01-22 01:11] #71 closed, assigned to eteq

[2016-01-22 01:50] eteq commented on #71
@pllim for some reason I didn't see the notifications about this until now... But good that it's fixed! ;)

[2016-01-22 15:14] pllim commented on #71
No problem, @eteq .

[2016-01-28 15:59] pllim opened #77 "Plugin to work with PSF fitting"
We might or might not need this. See https://trello.com/b/X5pIiZzj/dadf-sprint-psf-and-psf-kernel-tools for related discussions.

[2016-02-01 16:35] pllim opened #78 "Custom layout might not be consistent if user does not use stginga command"
In `gingawrapper.py`, `gmain.default_layout` is re-defined to accommodate `MultiImage` plugin. I believe this only works if user starts Ginga use `stginga` command directly. What if user uses our plugins in the two other ways that we said they could (see http://stginga.readthedocs.org/en/latest/run.html)?

[2016-02-01 16:41] stscieisenhamer commented on #78
Will have to explore that. i would presume they end up in the "standard" areas, which, if it worked as before, would be OK. But will require testing and modification.

Is there a ginga standard for this situation?

[2016-02-01 17:24] pllim commented on #78
@stscieisenhamer , I think our situation is pretty "special", so I am not aware of a standard solution. But maybe @ejeschke can correct me if I am wrong.

[2016-02-01 18:03] ejeschke commented on #78
From what I understand, it will work provided the user also sets the layout to have compatible workspace names (and dimensions, obviously) for all the stginga plugins that don't use the same ones as the reference viewer.

[2016-02-01 19:17] #67 closed, assigned to pllim

[2016-02-01 19:17] #75 closed, assigned to pllim

[2016-02-01 19:27] pllim opened #80 "Bad pixel plugin to accept polygon for bad pixel area"
I can already envision people requesting such a thing, since it might come in handy for fixing cosmic rays by hand. This was not previously implemented because QUIP only cared about circular areas or single pixels. But since no one actually requested it yet, I'll put it on low priority.

[2016-02-01 20:57] pllim opened #82 "Class autodoc not showing on RTD"
For example, this page is empty but it is supposed to show two classes:
http://stginga.readthedocs.org/en/latest/api/local_plugin_mixin.html

I do not have this problem with `make html` locally on my machine. There must be some assumption that RTD makes that I do not know about?

All I am doing is using `automodule`! My local `sphinx-build` version is 1.3.1.

[2016-02-01 21:03] pllim commented on #82
@eteq , perhaps you have an idea?

[2016-02-01 22:26] eteq commented on #82
@pllim If you take a look at the build logs in RTD (i.e. https://readthedocs.org/projects/stginga/builds/3689655/) you'll see this:
`/home/docs/checkouts/readthedocs.org/user_builds/stginga/checkouts/latest/docs/source/api/local_plugin_mixin.rst:6: WARNING: autodoc: failed to import module u'stginga.plugins.local_plugin_mixin'; the following exception was raised`

Looking at the related traceback,

[2016-02-02 17:23] pllim commented on #82
Thanks, @eteq ! Oh, I didn't know I can expand the text, so I missed the warnings. Ops! You're right, moving the import is probably the right thing to do. Thank you!

[2016-02-02 17:30] pllim commented on #82
Attempted fix is cd16e7e3b0d8. Waiting for build.

[2016-02-02 17:51] pllim commented on #82
Fixed!

[2016-02-02 17:51] #82 closed, assigned to nobody

[2016-02-03 18:27] pllim opened #83 "DQInspect not sorting DQ flags properly"
This is a known issue reported in ejeschke/ginga#257.

[2016-02-03 21:30] pllim opened #85 "See if DQInspect can use its cache better"
Prior to #84, `DQInspect` uses internal cache to avoid re-parsing all the DQ flags for a particular image every time `redo()` is called. However, this is now not the case because it is easier to re-calculate every time in case buffer has been changed, since Ginga's `'modified'` callback automatically calls `redo()`.

The way that `'modified'` callback is implemented in Ginga, I cannot simply overr

[2016-02-03 21:38] pllim opened #86 "DQInspect mask display sometimes not persistent"
When `DQInspect` is displaying a DQ mask, sometimes the mask disappears for different reasons. For example, when user zooms in/out, etc. Usually, de-selecting and re-selecting the DQ flag(s) from the table listing will restore the mask.

In addition, when user zooms in (and the mask does not disappear), user will see new masked pixels that were previously not displayed. This is purely "cosmetic" a

[2016-02-03 21:38] #86 closed, assigned to nobody

[2016-02-03 22:02] pllim opened #87 "New plugin to save modified buffers"
Currently, there is no way to save modified buffer from Ginga back out to image files. I propose a new local plugin named `SaveImage` to accomplish this. However, given that it is geared towards data format that we use at STScI, this plugin should remain in `stginga` for now and not Ginga.

Here is how it might work:
1. Scan `datasrc` of its channel for modified buffers. Data that fell out of `dat

[2016-02-04 15:11] #85 closed, assigned to nobody

[2016-02-05 20:05] pllim commented on #87
Do not merge until  ejeschke/ginga#279 is merged.

[2016-02-10 21:23] #87 closed, assigned to pllim

[2016-02-15 16:37] pllim opened #91 "RTD to use system packages"
As a result of `scipy` dependency added in #90, RTD is now failing (see  https://readthedocs.org/projects/stginga/builds/3729768/ ). I think the solution is same as nmearl/pyfocal#34, that is the owner of our RTD account (@eteq) needs to "go to the Advanced settings section in your project's admin panel and select the checkbox in Use system packages."

[2016-02-15 18:55] eteq commented on #91
@pllim - OK, I did as you suggest and RTD has now built successfully https://readthedocs.org/projects/stginga/builds/3730208/

One possible danger of using system packages: if you later on decide you _need_ a different version of one of the scipy packages, you may have to fight with RTD to make sure it uses the one you asked for rather than the one that's on the system.  I haven't had that problem

[2016-02-15 18:55] #91 closed, assigned to eteq

[2016-02-15 19:20] pllim commented on #91
Noted. Thanks, @eteq !

[2016-02-19 15:25] pllim opened #92 "Using ginga_config.py does not start our plugins properly"
As reported in ejeschke/ginga#285 . The plugins would be listed but nothing will show in `Dialogs` when user attempts to start them.

However, using our `stginga` command line script still works, so this is not critical.

[2016-02-22 17:44] pllim commented on #40
@bhilbert4 , do you have test file(s) that you can provide privately to illustrate a use case for this feature?

[2016-02-22 18:05] pllim commented on #63
QUIP is offically using `stginga` now, so I think it is time we address some of the issues here. I'll start by taking a stab at this. FYI.

[2016-02-22 19:09] pllim commented on #63
Note to self: To know whether code was added by subclass or from parent, see `Pick` at https://github.com/ejeschke/ginga/blob/ee95d776bd4f9ec97e1cec312d8e842c95e41ee0/ginga/misc/plugins/Pick.py and the latest

[2016-02-22 20:09] #63 closed, assigned to pllim

[2016-02-22 20:09] pllim commented on #63
Deleted over 1000 lines! :smile:

[2016-02-22 20:44] #92 closed, assigned to nobody

[2016-02-22 21:11] pllim commented on #47
:+1: global plugin. This automatically solves the issue of cross-channel alignment.

:-1: to keystroke. Instead, this can be drag-and-drop (more intuitive).

:-1: to keystroke override because "plugin focus" does not apply to global plugin. Instead, we can have our own "Prev" and "Next" buttons to cycle through them?

:+1: removable image. Also, an image deleted from a channel needs to be removed

[2016-02-22 21:15] pllim commented on #21
Does Ginga's `WCSMatch` global plugin satisfy this requirement? Can we close this?

[2016-02-22 21:16] pllim commented on #3
@stscieisenhamer , can you please describe what this means? Thanks.

[2016-02-23 15:51] bhilbert4 commented on #40
Yes, we have lots of data that can be used. I'll send some to you.

On Mon, Feb 22, 2016 at 12:44 PM, P. L. Lim notifications@github.com
wrote:

[2016-02-23 17:58] pllim commented on #40
Received two `NRC*` FITS data cube from @bhilbert4 , one is 1.3GB, and the other 2.2GB.

If memory becomes an issue, he says, _"Maybe have the user choose which groups/integrations/x/y to load? Our largest files contain 190 groups, each of which is 2048x2048....."_

[2016-02-23 18:04] pllim opened #95 "DQInspect to use DQParser in stsci.reftools"
In the near future, when we have our own conda channel for STScI software distribution, use `DQParser` in `stsci.reftools` instead of our own copy of it.

[2016-03-03 20:13] pllim opened #97 "Have MIPick coexists with Pick"
I think as a side effect of #63, if I have both `Pick` (parent class) and `MIPick` (subclass) up at the same time, one of them does not work. Need to sort this out. But not critical because no one would try this, right, right?

[2016-03-03 20:57] ejeschke commented on #97
I think they should work.  The `MPick` instance should have its own copy of everything.  They would be sharing some of the same names for tags, but those should be on different canvases, so no problem.

Can you explain how it does not work?  Is there an error message?

[2016-03-03 21:03] pllim commented on #97
I think it's because I use the same layer tag. I'll see if renaming the layer tag in subclass would work. I don't think the fix will be complicated.

[2016-03-03 21:08] ejeschke commented on #97
Yeah, that sounds right.

[2016-03-03 21:31] #97 closed, assigned to nobody

[2016-03-07 18:56] pllim opened #98 "Image smoothing"
As part of JWST DADF Sprint for background subtraction, there is a request for a local plugin that performs different kinds of smoothing on the displayed image.

[2016-03-07 19:01] pllim opened #99 "Interpolation/masking visualizer"
As part of JWST DADF Sprint for background subtraction, there is a request for a local plugin to mark interpolation points and mask out unwanted data. Example:

![index](https://cloud.githubusercontent.com/assets/2090236/13579760/17337cdc-e46d-11e5-819e-2163453bc6f9.png)

To-do list:
- [x] Plugin to display marked points -- implemented in #101
- [x] Plugin to display masks -- implemented in #103
-

[2016-03-09 15:12] #98 closed, assigned to pllim

[2016-03-10 20:39] pllim commented on #83
One workaround is to prepend zeros to the flag values but do we want to do this?

[2016-03-10 20:41] pllim commented on #99
Technically, if you create a table with every masked pixels listed, and then choose to display that table in `TVMark` plugin as "points", you can effectively display the masks too...

[2016-03-11 21:55] pllim opened #102 "Allow TVMark to load other columns in a table"
Scenario: User wants to mark a bunch of points but then sort the table by radius column and highlight those with radius smaller than a certain number.

Possible solution: Make columns a user preference (like `Contents`). However, need to think about what to do when user loads multiple files and some of them do not have all the preferred columns. For now, probably just okay to throw an error into t

[2016-03-16 20:30] #102 closed, assigned to pllim

[2016-03-16 20:56] #77 closed, assigned to nobody

[2016-03-29 17:19] #23 closed, assigned to pllim

[2016-03-29 18:29] pllim opened #109 "Fix link to RTD Jupyter notebook"
@eteq , I applied the Astropy affiliated package template as requested in #23 and I can't get the "example notebook" to link properly in http://stginga.readthedocs.org/en/latest/stginga/ipynb.html . Could you please help, since you wrote that document? Thank you!

[2016-03-30 16:32] pllim commented on #109
Note: I tried several variations of path names, none of which works. Looks like original path was an absolute path, so perhaps it was meant to automagically link to some kind of rendered notebook somewhere... I give up.

[2016-03-30 17:51] #109 closed, assigned to eteq

[2016-03-30 17:51] pllim commented on #109
Fixing another bug reinvigorated me. Found the cause and fixed it.

[2016-03-30 22:29] eteq commented on #109
Aha, my scheme of thinking positive vibes in your direction appears to have done the job ;)

[2016-03-31 13:37] pllim commented on #109
Yes, very effective. Does it work at L2? :smile:

[2016-03-31 16:18] eteq commented on #109
Well find out in a few years!

[2016-03-31 16:48] pllim commented on #109
:+1:

[2016-04-07 19:54] pllim opened #110 "Remove plugins that are absorbed by Ginga"
When these are merged into core Ginga package, remove them from `stginga` and use the core versions instead:
- [x] `SaveImage` (ejeschke/ginga#318, ejeschke/ginga#325)
- [x] `TVMark` (ejeschke/ginga#321)
- [x] `TVMask` (same as above)

[2016-04-28 20:28] #99 closed, assigned to pllim

[2016-04-28 20:43] pllim opened #112 "Add non-GUI unit tests"
Because currently there are zero tests... :sweat_smile:
- [x] Add some unit tests.
- [x] Enable Travis CI, including `egg_info`, Sphinx, and PEP8 tests. Make sure everything passes.
- [x] Enable Appveyor CI. Make sure everything passes.
- [x] Add test badges.

[2016-04-28 20:47] #110 closed, assigned to pllim

[2016-05-02 17:42] pllim opened #113 "BadPixCorr sometimes not showing full change log in ChangeHistory"
Workflow to reproduce this:
1. Open an image with `SCI` and `DQ` extensions with some real info (DQ with all zeroes won't do).
2. Use `DQInspect` to see where the non-zero DQ flags are.
3. Use `BadPixCorr` to select and fix some "bad pixels". It is important to select some pixels with non-zero DQ flags to see this bug.
4. Now you will notice that `ChangeHistory` only shows a log for `SCI` but not

[2016-05-02 20:16] #113 closed, assigned to pllim

[2016-07-07 17:24] jhunkeler opened #115 "Python 3k incompatibility"
## Build traceback:

[code]

EDIT: Maybe it isn't an incompatibility -- I misread the traceback. Either way, it does not build under Python 3.5. Python 2.7 is OK.

[2016-07-07 17:41] pllim commented on #115
Just need a patch like the one in astropy/package-template#180

[2016-07-07 18:38] #115 closed, assigned to nobody

[2016-07-08 19:20] pllim opened #117 "Remove unicode_literals"
It is unnecessary and not consistent with Ginga.

[2016-07-12 20:27] #117 closed, assigned to nobody

[2016-08-30 15:57] pllim commented on #47
@stscieisenhamer and @hcferguson, I am playing with the idea to completely remove `MultiImage` and `MIPick`. Instead, similar functionality can be achieved using a combination of existing plugins from Ginga itself. For example, `WCSMatch`, `Pick`, `Blink`, and multiple channels on a tiled workspace. What do you think?

[2016-08-30 15:59] hcferguson commented on #47
@plim can you do a demo sometime?

[2016-08-30 16:00] hcferguson commented on #47
@plim can you do a demo sometime?

[2016-08-30 16:00] hcferguson commented on #47
@plim can you do a demo sometime?

[2016-08-30 16:00] hcferguson commented on #47
@plim can you do a demo sometime?

[2016-08-30 16:00] hcferguson commented on #47
@pllim can you do a demo sometime?

EDIT: Removed duplicate comments. Corrected username.

[2016-08-30 16:02] pllim commented on #47
If we have another visualization sprint scheduled, this can be part of that sprint.

[2017-01-10 15:00] pllim opened #121 "Fix RTD build failure"
RTD has been failing for over a week. Traceback below. @eteq , do you happen to know why, since you wrote this part?

[code]

[2017-01-11 19:48] pllim commented on #121
Turns out to be some extra dependency required by `nbconvert` now. Fixed in 1ed91177fb4c96fbf205931dc7c682c6afcebb30.

[2017-01-11 19:48] #121 closed, assigned to nobody

[2017-01-26 20:59] pllim commented on #57
Not an issue  as ejeschke/ginga#230 has been superseded by ejeschke/ginga#426

[2017-01-26 20:59] #57 closed, assigned to eteq

[2017-01-27 18:00] pllim commented on #69
This is superseded by `Imexam` plugin in core Ginga package.

[2017-01-27 18:00] #69 closed, assigned to nobody

[2017-01-27 18:09] pllim commented on #47
@hcferguson , with the latest dev Ginga (as of Jan 27, 2017), I believe the following workflow using core Ginga, without the special `MultiImage` and `MIPick` plugins here, effectively supersedes those 2 plugins, which I am in favor to get rid of (which will also conveniently close a bunch of open issues):

1. Open the images of interest from command line, each image in its own channel using `ging

[2017-02-03 15:52] SaOgaz opened #122 "adding a build_sphinx run in Travis"
@pllim, it looks like you're currently "not" running a build_docs/build_sphinx in your travis runs?  Did you want me to add this in? (per our discussion yesterday)

[2017-02-03 15:54] pllim commented on #122
Sure. I never got it to pass because of `nbconvert` and didn't bother spending too much time investigating. But if you can make it work, it would be a plus. Thanks!

[2017-02-06 18:01] pllim opened #124 "Fix PEP8 test failure"
Fix `E722 do not use bare except`

[2017-02-06 19:56] #122 closed, assigned to nobody

[2017-02-09 17:55] #124 closed, assigned to nobody

[2017-02-09 17:55] pllim commented on #26
Pretty sure it does. I have been using Python 3 for a while...

[2017-02-09 17:55] #26 closed, assigned to nobody

[2017-02-24 19:11] pllim opened #126 "Ginga cannot load stginga plugins"
@ejeschke , this no longer works. Does this have something to do with ejeschke/ginga#426? Please advise.

[code]

Calling `stginga` directly gives similar traceback.

[2017-02-24 19:28] ejeschke commented on #126
I don't think it should have anything to do with that PR because it simply added an *additional* way to load plugins.  In other words, I didn't change the existing ways that plugins can be loaded.

I'll give it a try and report my results.

[2017-02-24 19:30] ejeschke commented on #126
I think the ModuleManager did get an update recently, having to do with python 3 compatibility.

Do you get the same result with python 2.7?

[2017-02-24 19:39] pllim commented on #126
Oh, dear. I have not touched Python 2.7 in a while... :sweat_smile:  Let me see if I remember where it is...

[2017-02-24 19:48] pllim commented on #126
On Python 2.7 using latest dev of both:
[code]

[2017-02-25 01:35] ejeschke commented on #126
@pllim, can you try commit ejeschke/ginga@48348a8d57aa7bbd5aded5a13fd771f36906fd89 ?  I think this may fix the issue.

[2017-02-25 02:55] ejeschke commented on #126
It was due to the `ModuleManager` update.

[2017-02-27 16:14] pllim commented on #126
Thanks for the quick fix, @ejeschke !

[2017-02-27 16:14] #126 closed, assigned to pllim

[2017-04-03 20:36] pllim commented on #95
I think about this again and decided against extra dependency.

[2017-04-03 20:36] #95 closed, assigned to pllim

[2017-04-11 18:06] pllim opened #127 "Port Instructions to Help"
Remove "Instructions" UI and replace it with "Help" button, like the other Ginga plugins.

p.s. Need to update `wss_tools` accordingly as well.

[2017-04-17 16:02] pllim opened #128 "Update code on how plugins are passed into Ginga"
See https://github.com/ejeschke/ginga/issues/310#issuecomment-293741642 . Some changes in ejeschke/ginga@3364b3206 do not appear to be backward compatible. Should probably wait till next Ginga release with this change.

Also need to fix a similar problem in `wss_tools`.

[2017-04-18 17:04] pllim commented on #128
Apparently the changes are backward compatible after all.

[2017-04-18 17:04] #128 closed, assigned to pllim

[2017-04-18 18:21] pllim opened #129 "Put stginga plugins into a special category"
Maybe name the category "stginga" to be super obvious? Or "STScI" to satisfy OPO branding?

Update: Need some refactoring as well now.

This is a follow-up to ejeschke/ginga#449 and ejeschke/ginga#619

[2017-04-27 19:16] pllim opened #130 "Remove MultiImage and MIPick?"
As stated in https://github.com/spacetelescope/stginga/issues/47#issuecomment-275732841 , I believe we no longer need to support `MultiImage` and `MIPick`.

Close #3
Close #5
Close #11
Close #16
Close #17
Close #21
Close #30
Close #47

Enable quick fix to get rid of #78

c/c @stscieisenhamer , @hcferguson

[2017-05-02 18:05] pllim commented on #40
Got a new test file that is 393MB:
[code]

Some extra usage info from Bryan Hilbert below:

Currently the WCS keywords, like CRVAL, are present in extension 0, while the science data are in extension 1. That causes issues with `ds9` when you're trying to do anything with the WCS. I'm not sure where Ginga looks for these keywords. Howard tells me that at some point in the future, SSB will correct t

[2017-05-12 15:01] pllim opened #131 "Old-style drawing not supported anymore in Ginga dev"
Need to change all the plugins here to use new-style drawing.

[2017-05-12 18:55] pllim commented on #131
@stscieisenhamer not sure if I have time to get this fixed before demo, so hopefully released versions on AstroConda would still work (they should or I would have heard from TEL by now).

[2017-05-15 15:24] pllim opened #133 ""Save Params" button broken in Qt5"
See ejeschke/ginga#476

Workaround for now is to downgrade to Qt4 .

[2017-05-15 15:39] #127 closed, assigned to pllim

[2017-05-15 15:39] #131 closed, assigned to nobody

[2017-05-15 15:39] pllim opened #134 "Follow up with doc from #132"
Follow up with doc from #132

[2017-05-16 14:37] pllim opened #135 "Configure default Catalog for STScI users"
As suggested by @stscieisenhamer in https://github.com/ejeschke/ginga/issues/52#issuecomment-301615479 . Also see ejeschke/ginga#52

[2017-05-17 17:34] pllim commented on #135
@stscieisenhamer , do we have a use for image server? I don't even know what it is supposed to be used for in a Ginga use case. So, is it sufficient to add only catalog defaults? Please advise.

[2017-05-17 20:39] #135 closed, assigned to nobody

[2017-05-18 20:47] #40 closed, assigned to nobody

[2017-05-19 20:10] #133 closed, assigned to pllim

[2017-06-22 20:38] pllim opened #138 "Make a release after Astropy 2.0"
Didn't realize it's been a while, so should probably do it soon.

[2017-07-19 20:21] pllim commented on #138
0.2 is released.

[2017-07-19 20:21] #138 closed, assigned to pllim

[2017-07-19 20:24] pllim commented on #138
xref astroconda/astroconda-contrib#242

[2017-08-11 21:28] pllim opened #141 "MosaicAuto to use backend-agnostic treeview deselection"
Now that ejeschke/ginga#532 is resolved (xref ejeschke/ginga#547), we can remove the Qt-specific code and use the backend-agnostic one:

[code]
where
[code]
should now be
[code]

[2017-08-11 21:43] pllim commented on #130
Maybe as a compromise, we move them to "experimental" folder, which means they will not be installed with the package, but someone can still use them if they manually copy them to `~/.ginga/plugins` folder and then use `--plugins` option when starting Ginga or `stginga`. Even so, they are likely to be non-functional already at this point as they have not been updated to use new Ginga APIs.

[2017-08-14 19:48] #141 closed, assigned to pllim

[2017-11-21 15:41] pllim opened #145 "Deprecate old Jupyter notebook(s)"
As discussed with @eteq, we should deprecate the current (old) Jupyter notebook(s) in `stginga` and advise users to use `EnhancedCanvasView` instead due to improvements added in ejeschke/ginga#562.

New notebook(s) may be added either upstream in Ginga or here (or both) as separate pull request(s).

[2017-11-29 17:01] pllim opened #147 "Update plugins to use new method to insert into ChangeHistory"
This depends on the final accepted solution over at ~~ejeschke/ginga#602~~ ejeschke/ginga#621. Release of package containing this change should be carefully planned with associated Ginga release (see #148).

p.s. `MosaicAuto` inherits the new behavior from `Mosaic` in Ginga upstream.

[2017-12-05 18:05] #145 closed, assigned to pllim

[2017-12-05 18:16] pllim opened #148 "Release stginga 0.3 in conjuction with Ginga 2.7"
xref ejeschke/ginga#622

Possibly need to use the new release workflow as well -- http://docs.astropy.org/en/latest/development/releasing.html . This would be the last release that supports Python 2.

- [x] Make a release branch
- [x] Also release on PyPI

[2017-12-05 18:56] #147 closed, assigned to pllim

[2018-01-24 18:02] pllim opened #150 "Drop Python 2 support"
After #148.

[2018-02-02 20:32] pllim commented on #148
Update: Ginga is released -- https://github.com/ejeschke/ginga/releases/tag/v2.7.0

[2018-02-20 18:06] pllim commented on #130
To whom it may concern, since I have not heard any replies, I am going to go ahead and move the outdated plugins (that probably doesn't work anymore) into a special "experimental" (read: use at your own risk and don't complain they don't work) folder. Speak now or forever hold your peace. :smile:

[2018-02-23 22:04] #78 closed, assigned to stscieisenhamer

[2018-02-23 22:04] #112 closed, assigned to pllim

[2018-02-23 22:04] #129 closed, assigned to pllim

[2018-02-23 22:04] #130 closed, assigned to nobody

[2018-02-23 22:04] #134 closed, assigned to pllim

[2018-02-23 22:05] pllim commented on #47
xref #152.

[2018-02-23 22:05] #47 closed, assigned to nobody

[2018-02-23 22:05] pllim commented on #17
xref #152

[2018-02-23 22:05] #17 closed, assigned to nobody

[2018-02-23 22:06] pllim commented on #3
xref #152

[2018-02-23 22:06] #3 closed, assigned to nobody

[2018-02-23 22:06] pllim commented on #5
xref #152

[2018-02-23 22:06] #5 closed, assigned to nobody

[2018-02-23 22:06] pllim commented on #11
xref #152

[2018-02-23 22:06] #11 closed, assigned to nobody

[2018-02-23 22:06] pllim commented on #21
xref #152

[2018-02-23 22:06] #21 closed, assigned to nobody

[2018-02-23 22:06] pllim commented on #16
xref #152

[2018-02-23 22:06] #16 closed, assigned to nobody

[2018-02-23 22:06] pllim commented on #30
xref #152

[2018-02-23 22:06] #30 closed, assigned to stscieisenhamer

[2018-02-24 15:08] pllim commented on #148
https://pypi.python.org/pypi/stginga

[2018-02-24 15:09] #148 closed, assigned to pllim

[2018-02-24 15:57] pllim opened #153 "Auto-start Header and Zoom plugins"
To be compatible with Ginga <= 2.6 behavior. xref ejeschke/ginga#632

[2018-02-24 16:36] pllim commented on #153
Addressed in a212c77ff79

[2018-02-24 16:36] #153 closed, assigned to nobody

[2018-04-24 16:32] pllim opened #155 "Custom loader for JWST ASDF"
https://ginga.readthedocs.io/en/latest/dev_manual/internals.html#sec-custom-io (instructions currently outdated, see "Depends on" below.)

Moved from ejeschke/ginga#637 since this might require `jwst` as a dependency, on top of `asdf` and `gwcs`, or at the very least some customization (until SCSB can separate out `datamodels` from the pipeline).

Depends on: ejeschke/ginga#764

xref: spacetelesco

[2018-06-01 21:22] #150 closed, assigned to nobody

[2018-06-08 21:12] pllim commented on #25
I briefly played with `pytest-qt` that Cubeviz uses but quickly got stuck:
[code]

There is option to mock the whole dialog pop-up (https://pytest-qt.readthedocs.io/en/latest/note_dialogs.html) but wouldn't that defeat the purpose of GUI testing?

Regardless, I am not sure if this is the correct solution as this purely tests Qt interactions, while Ginga supports a few other backends (e.g., GTK, GT

[2018-06-11 18:31] pllim commented on #25
Looks like Jython is not yet PY3 compatible -- https://stackoverflow.com/questions/2351008/when-will-jython-support-python-3 (latest update in late 2017 with no solid timeline given).

[2018-06-20 19:51] pllim opened #159 "Update the help"
Tyler Desjardins mentions that we should consider moving emails from `help[at]stsci.edu` to point to the web portal where possible and appropriate. For HST (or any non-JWST), it is https://hsthelp.stsci.edu . For JWST, it is https://jwsthelp.stsci.edu . Please update info in `setup.py`, `setup.cfg`, documentation, etc as appropriate.

Please close this issue if it is irrelevant to your repository.

[2018-07-24 17:16] pllim opened #160 "MNT: Python 3.7 support"
1. Ensure `stginga` (and by extension, `wss_tools`) works with Python 3.7.
2. Add Python 3.7 to Travis CI matrix.

Depends on ejeschke/ginga#673

[2018-08-14 16:53] pllim opened #161 "Retire Python 2"
Python 2 will not be maintained past Jan 1, 2020 (see https://pythonclock.org/). Please remove all Python 2 compatibility and move this package to Python 3 only.

For conda recipe (including `astroconda-contrib`), please include the following to prevent packaging it for Python 2 (https://conda.io/docs/user-guide/tasks/build-packages/define-metadata.html?preprocessing-selectors#skipping-builds):

[

[2018-08-14 17:42] pllim commented on #161
Already done! xref #150. (Although the skip build info would be useful for the *next* release.)

[2018-08-14 17:42] #161 closed, assigned to nobody

[2018-08-27 21:31] #83 closed, assigned to nobody

[2018-09-24 14:44] pllim opened #163 "DOC: Port over ADASS 2018 poster text"
In https://github.com/pllim/ginga-poster-adass2018 ,  there would be improved doc text for the plugins that we can put back in the doc here. Wait for when poster is finalized first.

[2018-10-25 20:05] pllim opened #164 "ADASS release"
In conjunction with Ginga's for ADASS.

[2018-11-06 20:53] pllim opened #165 "Add CITATION"
Add a CITATION file and include reference to ADASS 2018 proceedings, when that is available.

~UPDATE: Submitted to ASCL too, awaiting approval.~

[2018-11-06 20:54] pllim commented on #159
The only `help` email reference is in `setup.cfg`, which we have agreed to keep (for now).

[2018-11-06 20:54] #159 closed, assigned to nobody

[2018-11-07 01:41] #163 closed, assigned to nobody

[2018-11-09 03:08] pllim commented on #160
Tested. Done.

[2018-11-09 03:08] #160 closed, assigned to nobody

[2018-11-09 04:23] pllim commented on #164
Released.

[2018-11-09 04:23] #164 closed, assigned to pllim

[2019-01-09 20:34] pllim opened #169 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [x] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [x] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-01-10 08:07] #169 closed, assigned to nobody

[2019-03-21 21:05] pllim commented on #155
POC at spacetelescope/dat_pyinthesky#9

[2019-06-15 16:56] pllim opened #172 "Port CI to GitHub Actions"
Should be easy since this package is only being tested minimally as most code is GUI. :grimacing:

[2019-06-15 16:58] pllim opened #173 "Get rid of astropy-helpers submodule"
As laid out in astropy/astropy-APEs#52

UPDATE: APE 17 is accepted. See `synphot` and `stsynphot` as examples.

[2019-06-15 16:59] pllim opened #174 "Use setuptools-scm for version numbering"
https://github.com/pypa/setuptools_scm

Proof of concept at spacetelescope/acstools#97

[2019-12-03 22:52] pllim commented on #165
See ejeschke/ginga#811 for ADASS 2018 citation.

[2019-12-03 23:07] ejeschke commented on #165
Actually, it is a 2019 publication for the 2018 conference. At least according to the web entry that I found for the publisher.  I've corrected the date, and added the editors.

[2019-12-04 22:11] #165 closed, assigned to nobody

[2019-12-06 18:12] pllim opened #181 "Update JWST DQ flags for DQInspect"
https://jwst-pipeline.readthedocs.io/en/latest/jwst/references_general/references_general.html#data-quality-flags

https://github.com/spacetelescope/stginga/blob/master/stginga/data/dqflags_jwst.txt

As reported by @obi-wan76

[2019-12-30 23:29] #173 closed, assigned to nobody

[2019-12-30 23:29] #174 closed, assigned to nobody

[2020-01-16 19:51] pllim commented on #181
Fixed by #183 . Thanks, @obi-wan76 !

[2020-01-16 19:51] #181 closed, assigned to nobody

[2020-02-03 16:53] pllim commented on #155
Bumping this, as the widget code is still awaiting stakeholders' reviews.

[2020-02-03 16:54] pllim opened #185 "Zenodo"
Get Zenodo DOI and add it to README as badge and to CITATION

[2020-02-03 17:50] #185 closed, assigned to nobody

[2020-06-24 23:44] marcio-melendez opened #188 "Instrument FGS missing from Data Quality Inspection"
There is no FGS instrument in the DQ flag dictionary, thus it doesn't load the appropriate JWST DQ flags when opening an FGS image.

[2020-06-25 15:35] pllim commented on #188
Did you try to customize it with `~/.ginga/plugin_DQInspect.cfg` as stated in https://stginga.readthedocs.io/en/latest/stginga/plugins_manual/dqinspect.html ?

Are you reporting that customizing does not work? Or are you requesting that FGS should be recognized by default?

[2020-06-25 15:42] pllim commented on #188
As for adding it to software default, it is quite tricky without a backward incompatible code change. This is due to the fact that both HST and JWST have FGS, and the plugin only takes in instrument name without the context of which telescope it belongs to.

Are you okay with a backward incompatible change, which would make the plugin ask for both telescope and instrument names?

p.s. The current

[2020-06-25 16:00] marcio-melendez commented on #188
@pllim with the customization to the plugin_DQInspect.cfg file it works as expected. I was doing it incorrectly, sorry.

As for the default, I think it would make sense to have the plugin calling both the telescope and the instrument. This may be useful in the future if more JWST FGS specific functions are requested, which is a strong possibility. What do you think?

[2020-06-25 17:43] pllim commented on #188
I agree. I'll whip up something and ping you for review.

[2020-06-26 14:20] #188 closed, assigned to nobody

[2020-07-13 19:51] rendinam opened #191 "Automatic PyPI publication enabled"
When making final, public releases of this software please use the Github release feature (https://github.com/spacetelescope/stginga/releases/new). This will trigger the build and upload of the corresponding package at the tag specified to PyPI.

[2020-07-18 19:50] pllim opened #192 "MNT: VisibleDeprecationWarning Creating an ndarray from ragged nested sequences (numpy 1.19)"
Need to find out where is warning is coming from and mitigate it.

[code]

[2020-07-20 22:46] pllim commented on #192
Looks like this happens in Ginga. Moving to ejeschke/ginga#868

[2020-07-20 22:46] #192 closed, assigned to nobody

[2020-07-20 23:39] pllim commented on #155
Haven't heard back from stakeholders. Maybe nothing else is needed at this point but I'll just keep this open for now.

[2020-07-21 00:19] pllim commented on #191
Noted. I have updated wiki to reflect this. Thanks! (Will use as of 1.2)

[2020-07-21 00:19] #191 closed, assigned to nobody

[2020-07-21 01:17] pllim opened #195 "Finish 1.2 release"
* Auto push to PyPI.
* Upload to Zenodo.

[2020-07-21 15:19] pllim commented on #195
Done. Thanks @rendinam and @jhunkeler !

But wait there's more!

...

Also adding to `conda-forge` via conda-forge/staged-recipes#12182

[2020-07-21 15:19] #195 closed, assigned to pllim, rendinam

[2020-09-30 00:34] Skyhawk172 opened #199 "Update utils.scale_image to mask/ignore bad pixels"
It looks like the method `scale_image` interpolates over pixels regardless of whether they are marked as "good" or "bad" pixels in the DQ extension. It would be preferable to do the interpolation with the knowledge of such "bad" pixels and ignore/mask them out.

According to the following [link](https://jwst-pipeline.readthedocs.io/en/latest/jwst/references_general/references_general.html#data-qua

[2020-09-30 00:41] ejeschke commented on #199
@pllim, pretty sure Ginga handles masked images just fine.  It might be simply a matter of making a custom loader (or adapting a plugin) to create the masked array that is stored in the `AstroImage`...

[2020-09-30 15:53] pllim commented on #199
@ejeschke , thanks. This functionality is part of pre-processing before Ginga is used. 😄

[2020-09-30 16:29] pllim commented on #199
@Skyhawk172 , just to be clear, other flags like `SATURATED`, `DEAD`, etc should be *included* in the interpolation?

[2020-09-30 16:52] Skyhawk172 commented on #199
My understanding is that if pixels are saturated, dead, etc, then the first bit will be set to 1 (i.e. DO_NOT_USE).  So that's really the only bit we need to look at, and we don't care _why_ they're marked as DO_NOT_USE.  @melendez: if I'm getting this wrong, please let us know.

[2020-09-30 20:22] pllim commented on #199
[zoom algorithm](https://github.com/scipy/scipy/blob/v1.5.2/scipy/ndimage/interpolation.py#L583-L657) is not a simple mean/max/etc. If we switch to using [block_reduce](https://docs.astropy.org/en/latest/api/astropy.nddata.block_reduce.html#astropy.nddata.block_reduce), there is an option to pass in a mean/max/etc function -- do you have a preference on how you want to group the pixels together? I

[2020-09-30 23:19] Skyhawk172 commented on #199
Can we pass it a spline function of order 3, similar to what scipy.interpolation.zoom does by default?

[2020-10-01 19:21] pllim commented on #199
Yes, but that would be done before calling `block_reduce`. I am hesitant to copy-paste `zoom` algorithm as-is and drop in mask support, because that would require us to call hidden Numpy functions.

[2020-10-01 20:17] Skyhawk172 commented on #199
I was wondering if we could use `scipy.interpolate.interp2d`, which returns a function.  But for now, let's get a prototype working with `block_reduce` using the median. We'll have to play around with `block_size`.

[2020-10-01 22:47] pllim commented on #199
I might have solved this a long time ago in [interpolate_badpix](https://stginga.readthedocs.io/en/stable/api/stginga.utils.interpolate_badpix.html). You basically want to fix the bad pixels before resampling, right? But after fixing the bad pixel, you still need to provide a function for the resampling part; median is fine by me. Thanks!

[2020-10-02 20:56] pllim commented on #199
Cubic spline with [griddata](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.griddata.html) is too slow and not giving me a good result using a provided test case.

![Screenshot 2020-10-02 165452](https://user-images.githubusercontent.com/2090236/94969098-1bbcd180-04d0-11eb-9926-294dbf50f15b.jpg)

I'll have to play around with this some more.

And [interp2d](https://docs.sci

[2020-10-03 04:19] pllim commented on #199
Convolution is also slow (2 mins to convolve [box kernel](https://docs.astropy.org/en/latest/api/astropy.convolution.Box2DKernel.html) that is 101-pix wide with 2k by 2k image) but it works better. Also I found out that `block_reduce` isn't what we want after all and we still have to use `zoom` to downsample (so you still get your cubic spline there).

What do you think, @Skyhawk172 ? Performance

[2020-10-05 17:53] pllim commented on #199
[convolve_fft](https://docs.astropy.org/en/latest/api/astropy.convolution.convolve_fft.html) does cut down the run time per image from 2 mins to 5 secs. Still not negligible but maybe acceptable?

I also tried `Box2DKernel` and `Gaussian2DKernel` with 2 different values. Still find `Box2DKernel(101)`-ish to be prettiest for this particular image, or `Box2DKernel(99)` if you don't like 3 digits.

[2020-10-05 17:55] Skyhawk172 commented on #199
Yes, performance is important as we plan on using this feature to downsample close to 2000 individual images. 5 seconds is good, especially given that this can be done in parallel.

[2020-10-05 17:57] pllim commented on #199
@Skyhawk172 , can you please clarify the numbers? 2000 images in a single session (i.e., single operations file)? How are you doing this in parallel?

[2020-10-05 17:59] Skyhawk172 commented on #199
Okay, that requires clarification: to downsample all these images, we've been accessing the STSGinga zoom function directly, i.e. not through QUIP. Once these images have been downsampled, then we run QUIP to mosaic them together.

[2020-10-05 19:05] pllim commented on #199
To downsample 2000 images, at 5s a pop, that is still about 2.8 hours on single core.

[2020-10-05 19:10] pllim commented on #199
Downsampling the DQ first and then fix is much faster (in the order of a few ms), but I don't know how robust it is yet.

![Screenshot 2020-10-05 150918](https://user-images.githubusercontent.com/2090236/95121299-de994f00-071c-11eb-8f63-89fee882518f.jpg)

[2020-10-06 17:30] pllim opened #202 "MNT: Bump Python minversion to 3.7"
Ginga 3.2 will be Python 3.7+ only.

[2020-10-06 17:45] pllim opened #203 "MNT: Use argparse in entry point function"
What was my Past Self ™️ thinking?!

[2020-10-06 18:25] pllim commented on #203
Ah, okay. Past Self wanted to pass in sys args to Ginga. Never mind.

[2020-10-06 18:25] #203 closed, assigned to nobody

[2020-10-07 00:49] pllim commented on #199
I am not really satisfied by any of them...

![Screenshot 2020-10-06 203550](https://user-images.githubusercontent.com/2090236/95274424-c9531c00-0813-11eb-91ee-dbf352898998.jpg)

Using `photutils` as suggested in https://github.com/spacetelescope/stginga/issues/199#issuecomment-705021940 :

<img alt="Screenshot 2020-10-07 175636" src="https://user-images.githubusercontent.com/2090236/95392321-8e5d

[2020-10-07 01:14] Skyhawk172 commented on #199
It may be that we'll have to rely on applying a median filter after we've downsampled the images to really get rid of those bad pixels. We had started looking into this a while ago, got distracted, and was reminded again today. So a combination of DQ-aware downsampling plus the subtraction of a median image (built from the hundreds of images we expect) might be the solution.

[2020-10-07 14:36] pllim commented on #199
Gotta try out this life hack from @mcara

<hr/>

https://photutils.readthedocs.io/en/stable/api/photutils.utils.ShepardIDWInterpolator.html

When constructing, provide the coordinates of the "good" pixels (obtained, i.e., using `np.where`). Then when evaluating, give a list of "bad" pixels (also, possibly obtained using `np.where`) to evaluate the interpolator at those positions.

[2020-10-07 14:58] mcara commented on #199
Hm... after perusing this thread, it seems that performance might be an issue with IDW interpolator. I think it is worth trying it in a notebook - it should be pretty easy to do a little demonstration. I think spline interpolation needs a regular grid which is not the case here and methods that work on non-regular grids are slow.

[2020-10-07 15:40] mcara commented on #199
This is a *non-optimized* example of how to use IDW interpolator.
[code]
<img width="1674" alt="comparison-idw" src="https://user-images.githubusercontent.com/5985250/95360175-06adbd00-0899-11eb-9e68-e9c53b8b608d.png">

You can see that this interpolation somewhat "recovers" the cosmic rays from the original image. That is because the mask did not completely mask the edge pixels of the cosmic ray

[2020-10-07 15:43] mcara commented on #199
The image above is a small fragment of a larger, 2051x4096 pixels, image. First resampling both the image and the mask should speed things up. also, having fewer "bad" pixels should help too.

[2020-10-07 15:52] pllim commented on #199
Wow, thanks! Yeah, resampling the mask first would definitely help. I am just not sure about the fidelity.

p.s. ~Hard to tell how well it did with all the blinking.~ 😬

[2020-10-07 15:53] mcara commented on #199
That's why I gave you the code :)

[2020-10-07 15:56] mcara commented on #199
Try it on your specific images. It is interpolating over a "hole". If there is a complex star (=complex PSF) inside that hole - no algorithm will be able to interpolate over it with high fidelity: you are not going to see a star there. This particular image that I used is a bad example because it looks like `astrodrizzle` flagged all starts and clusters as cosmic rays.

[2020-10-07 15:59] mcara commented on #199
Don't know how to slow down blinking in a GIF - but if you can do it in an editor - try to slow the blinking. Do you want me to remove the image?

[2020-10-07 22:08] pllim commented on #199
@mcara, not too bad! I have added the result to https://github.com/spacetelescope/stginga/issues/199#issuecomment-704628438 .

@Skyhawk172 , can you please clarify the median image subtraction technique? Is it something to be applied within `stginga` as well? And can you please let me know what you think of all the alternatives thus far (#200 , #201 , #204 ) based on https://github.com/spacetelesc

[2020-10-08 00:46] Skyhawk172 commented on #199
For the median subtraction, that is entirely outside STGinga. What we have now cleans up the images quite nicely.  Let me look at the alternatives you've worked on, but it may be that a combination of a DQ-aware downsampling followed by the median filter/subtraction will do the trick.

[2020-10-08 12:59] mcara commented on #199
@pllim With regard to https://github.com/spacetelescope/stginga/issues/199#issuecomment-704628438, I can't understand why the blob of light masked by the blue mask in the upper-left image re-appears in the interpolated image. Are you sure the downsampled mask is created correctly?

That is, could you please show the same image as in the upper-left corner (1st image") downsampled without interpolat

[2020-10-08 21:45] pllim commented on #199
@mcara , I overlooked using `photutils` to interpolate the downsampled mask (the one shown above was using convolution). I have updated #201 to use `photutils` and posted the data you requested at https://github.com/spacetelescope/stginga/pull/201#issuecomment-705839081 . (Spoiler: Best looking one thus far for that one star!)

[2020-10-14 23:01] #199 closed, assigned to nobody

[2020-10-14 23:07] pllim opened #205 "How correct is scale_wcs?"
Finally got around to writing a test for the downsampling of WCS originally developed by @mcara (#200) and I need some WCS expertise to explain the following behavior.

[code]

[2020-10-15 03:45] mcara commented on #205
@pllim I do not remember doing anything original in #200 but thanks!

With regard to `CRPIX` - it is *always* 1-based in FITS WCS. "Classic" functions such as `wcs_pix2world` take a parameter that indicates the origin. The common API functions such as `pixel_to_world` are 0-based. So,
[code]
should all return the same array of two numbers: `w.wcs.crval`.

So, when you say:
[code]
it really should

[2020-10-16 22:41] #172 closed, assigned to nobody

[2020-10-16 22:41] pllim commented on #155
Just going to close this, since still no complains. People can open new issues if it doesn't work.

[2020-10-16 22:41] #155 closed, assigned to nobody

[2020-10-17 01:32] #202 closed, assigned to nobody

[2020-10-17 03:04] mcara commented on #205
[code]
You really like units!

[2020-10-17 03:06] mcara commented on #205
And actually the comment is wrong, it is not in `deg` - see `.to(u.arcsec)`! Please fix it.

[2020-10-17 03:09] pllim commented on #205
Which comment? Pretty sure the `cunit` said `'deg'`.

[2020-10-17 03:10] mcara commented on #205
[code]
but then you convert them to `arcsec`.

[2020-10-17 03:11] pllim commented on #205
Fixed! 😅

[2021-06-02 20:50] pllim opened #216 "MNT: New release to go with Ginga 3.2"
Also see ejeschke/ginga#867

[2021-06-11 16:34] #216 closed, assigned to pllim

[2021-06-22 19:01] pllim opened #218 "TST: Handle warnings"
[code]

[2021-06-22 20:11] #218 closed, assigned to nobody

[2022-10-10 21:49] pllim opened #227 "BadPixCorr plugin might be incompatible with Ginga v4"
`stginga/plugins/BadPixCorr.py` circle drawing acts weird now. To reproduce this problem:

1. Load an image with SCI and DQ arrays and real bad pixels.
2. Start BadPixCorr plugin.
3. Select a bad pixel to fix by clicking on it. By default, it draws a circle and an annulus around it.

Problem: Circle has zero radius. Setting the line below from 0 to 1 has no effect.

https://github.com/spacetelesco

[2022-10-11 00:24] ejeschke commented on #227
@pllim, is this with the current (dev) version of Ginga?

[2022-10-11 00:45] pllim commented on #227
Yes, current dev version I pulled from GitHub today.

[2022-10-11 01:15] ejeschke commented on #227
How big should the circle normally be relative to the annulus?  In the GUI for `BadPixCorr`, if I type a number into the box labeled "Radius:" (under "Bad Pix Attributes") and press enter, it shows a green circle of that radius (in addition to the magenta annulus).  Is it possible that the field is being initialized to 0 incorrectly?

[2022-10-11 01:21] pllim commented on #227
Yes, `obj.radius` returns zero. In your Drawing plugin, it defaults to 1. I don't understand why it does not default to 1 anymore in this plugin. 😿

[2022-10-11 01:37] ejeschke commented on #227
I see that when I actually drag out a circle instead of just clicking, I get a circle of the desired radius.  Not sure why the previous version should have defaulted to 1 with just a click, because it is certainly possible to draw a circle with a radius close to zero.

If change L359 from
[code]
to
[code]
I think the plugin works like you are describing.

[2022-10-11 01:45] ejeschke commented on #227
PR in #228

[2022-10-11 01:50] ejeschke commented on #227
When I try the `Drawing` plugin, one can easily draw *very* tiny circles.  I think the 1.0 in the 'radius:' box is not meaningful for the drawing operation itself, since the radius is determined by how far you drag the cursor while the button is held.  Instead, it changes to the actual radius if you try to edit the object.

[2022-10-11 01:53] pllim commented on #227
Thanks! I'll have a look tomorrow. 🙇‍♀️

[2022-10-11 13:28] #227 closed, assigned to nobody

[2022-10-11 21:46] pllim commented on #227
Works fine. Thanks again!